::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0b0e17;
}

::-webkit-scrollbar-thumb {
  background-color: #13b0d2;
  border-radius: 4px;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(34, 211, 238, 0.5);
  /* accent color with transparency */
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(34, 211, 238, 0.7);
  /* slightly more opaque on hover */
}

.enhanced-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.enhanced-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, var(--color-accent), var(--color-accent-dark-1));
  border-radius: 8px;
  border: 1px solid var(--color-border-light-1);
}

.enhanced-scrollbar::-webkit-scrollbar-track {
  background-color: var(--color-background-light-1);
  border-radius: 8px;
}

.enhanced-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, var(--color-accent-light-1), var(--color-accent));
}