.titlebar {
  height: 30px;
  /* background: #314057; */
  /* width: min-content; */
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  user-select: none;
  -webkit-user-select: none;
  filter: invert(1);
  z-index: 1000;
}

.titlebar-button:hover {
  background: #5a77a2;
  z-index: 1000;

}