.clickable {
  @apply cursor-pointer hover:brightness-105 active:brightness-95 hover:scale-105 active:scale-95 transition-all duration-100;
}

.center {
  @apply flex items-center justify-center;
}

.citation {
  color: var(--color-text-dark-2);
  opacity: 0.4;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  display: inline;
}

input[type="time"],
input[type="number"] {
  @apply bg-sidebar-light-2 
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: textfield;
  border: 1px solid #374151 !important;
  color: #f3f4f6;
  padding: 0.2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
  text-align: center;
  user-select: all;
}

input[type="time"]:focus {
  border-color: #60a5fa;
  box-shadow: 0 0 0 2px #60a5fa33;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="time"]::-webkit-datetime-edit-ampm-field {
  display: none;
}

input[type="time"]::-ms-clear {
  display: none;
}

input[type="time"]::-ms-expand {
  display: none;
}

/* Hide number input spinners (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input spinners (Firefox) */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}


input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}

.pdf-page-container {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.pdf-text-layer {
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  user-select: text;
  pointer-events: auto;
  z-index: 2;
}

.pdf-text-layer::selection {
  background: rgba(0, 123, 255, 0.3);
}

.pdf-text-layer::-moz-selection {
  background: rgba(0, 123, 255, 0.3);
}

.pdf-text-layer div {
  position: absolute;
  color: transparent;
  user-select: text;
  pointer-events: auto;
  white-space: nowrap;
  transform-origin: 0 0;
}

.pdf-text-layer div::selection {
  background: rgba(0, 123, 255, 0.3);
  color: transparent;
}

.pdf-text-layer div::-moz-selection {
  background: rgba(0, 123, 255, 0.3);
  color: transparent;
}