@layer base {

  ul,
  ol {
    list-style: revert;
    margin: revert;
    padding: revert;
  }

  table {
    border-collapse: revert;
    border-spacing: revert;
    text-align: revert;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
  }

  th,
  td {
    padding: revert;
    border-width: revert;
    border-style: revert;
    border-color: revert;
  }

  table,
  th,
  td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 0.5rem;
    text-align: center;
  }

  th {
    background-color: var(--color-background-light-3);
  }
}