code {
  display: block;
  background-color: var(--color-background-light-1);
  border: 1px solid var(--color-border-light-1);
  color: var(--color-text-dark-1);
  padding: 0.8rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

ul,
ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

li {
  margin-bottom: 1rem;
  user-select: text;
}

ul.upper,
li.upper {
  margin: 0;
  margin: 0;
}