code {
    display: block;
    background-color: var(--color-background-light-1);
    border: 1px solid var(--color-border-light-1);
    color: var(--color-text-dark-1);
    padding: 0.8rem;
    border-radius: 4px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

@layer base {
  ul, ol {
    list-style: revert;
    margin: revert;
    padding: revert;
  }

  table {
    border-collapse: revert;
    border-spacing: revert;
    text-align: revert;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
  }
  th, td {
    padding: revert;
    border-width: revert;
    border-style: revert;
    border-color: revert;
  }
    table, th, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 0.5rem;
    text-align: center;
  }
  th {
    background-color: var(--color-background-light-3);
  }
}

ul, ol{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

li{
    margin-bottom: 1rem;
    user-select: text;
}
