h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-accent-dark-1);
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-accent-light-1);
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--color-accent-dark-1);
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--color-accent-dark-1);
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--color-accent-dark-1);
}

h5 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-accent-dark-2);
}

h6 {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--color-accent-dark-3);
}
